.mask{
   position: relative;
   overflow: hidden;
   margin: 0px auto;
   width: 100%;
   background-color: black;
}

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
    overflow: visible;
    z-index: 99;
    padding-top: 0px;
    padding-bottom: 3px;
    border-bottom: solid white 2px;
    background-color: #000;
    -webkit-box-shadow: 0px 5px 15px 0px #bfbfbf;
    box-shadow: 0px 5px 15px 0px #bfbfbf;
    height: 100px;
}

.colleft{
   position: relative;
   width: 100%;
   right: 33%;
   color: black;
   background-color: white;
}

.col1{
   position: fixed;
   overflow: hidden;
   float: left;
   top: 200px;
   width: 30%;
   left: 70%;
   color: black;
   background-color: rgba(255, 255, 255, 0); /* Color white with alpha 0.9*/
   background-color: white;
}

.col2{
   z-index: -1;
   position: relative;
   overflow: hidden;
   top: 150px;
   float: left;
   width: 70%;
   left: 10%;
   color: black;
   background-color: white;
}

.footer{
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    overflow: visible;
    z-index: 99;
    padding-top: 5px;
    padding-bottom: 3px;
    border-top: solid white 2px;
    background-color: black;
    -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
    box-shadow: 0px -5px 15px 0px #bfbfbf;
    height: 40px;
}

body {
   color: white;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: white;
}
